<%- include('partials/header'); -%>

<h1>search your movie</h1>

<form action="/results" method="GET">
    <input type="text" name="moviekey" placeholder="your movie">
    <button>submit</button>
</form>

<%- include('partials/footer'); -%>